bin/
obj/
publish/
*.user
*.suo
.vs/
.vscode/*.log
*.msix
*.msixbundle
*.pfx
*.cer
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
node_modules/
android/www/
android/.gradle/
dist/
*.dll
*.exe
*.pdb
